<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Big Cat E-Shop</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
     

    
    <div class="search-bar">
      <form action=" {% url 'searchproduct' %}" method?"POST">
        {% csrf_token %}
        <div class="input-group">
          <input type="search" required class="form-control" name="productsearch" id="searchproducts" placeholder="Search products">
          <button type="submit" class="input-group-text"> <i class="fa fa-search"> </i> </button>
        </div>
      </form>
    </div>
    

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'collections' %}">Collections</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Wishlist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>