{% extends 'store/layouts/main.html' %}

{% block content %}
    {% include 'store/inc/slider.html' %}

    
<div class="container my-S">
    <div class="row">
        <div class="col-md-12">
            <h3>Trending Products</h3>
            <hr>
            <div class="row">
            {% for item in trending_products %}
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <a href="{% url 'productview' item.category.slug item.slug %}">
                                <div class="category-image">
                                    <img src="{{ item.product_image.url }}" alt="Product image" class="w-100"/>
                                </div>
                                <h4 class="text-center"> {{ item.name }} </h4>
                            </a>
                            <span class="float-start">{{ item.selling_price }}</span>
                            <span class="float-end mb-2">
                                {% if item.quantity > 0 %}
                                    <button type="button" class="btn btn-primary me-3 btn-sm float-start addToCartBtn">Add to Cart <i class="fa fa-shopping-cart"></i></button>
                                {% else %}
                                    <button type="button" class="btn btn-danger btn-sm me-3 float-start">Out of Stock <i class="fa fa-shopping-cart"></i></button>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
           {% endfor %}
        </div>
    </div>
</div> 

    <h1></h1>
{% endblock content %}
